@import url("https://fonts.googleapis.com/css?family=Assistant:400,600|Roboto+Mono");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css");

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Assistant", sans-serif;
    line-height: 1.475;
    font-size: 16px;
}

body > .center {
    padding: 72px 0;
}

main {
    .script {
        display: flex;
        justify-content: center;
        + .script {
            margin-top: 12px;
        }
    }

    h1 {
        font-size: 48px;
        margin-bottom: 0;
    }

    h2 {
        font-weight: 400;
        margin-top: 4px;
        margin-bottom: 36px;
    }

    code {
        color: #fff;
        background-color: #000;
        padding: 4px 8px;
        border-radius: 2px;
        display: inline-flex;
    }
}

h2 {
    margin: 0;

    + p {
        margin-top: 8px;
    }
}

p {
    margin: 0;
}

strong {
    font-weight: 600;
}

code {
    font-family: "Roboto Mono", monospace;
    font-size: 14px;

    span {
        color: rgb(255, 0, 149);
    }
}

table.props {
    margin: 40px 0;
    text-align: left;

    > thead {
        th {
            padding-bottom: 12px;
            border-bottom: 1px solid #e1e1e1;
        }
    }

    > tbody {
        td {
            padding: 20px 0;
            vertical-align: top;

            code {
                display: flex;
            }
            code span {
                padding: 1px 4px;
                font-size: 12px;
                position: relative;
                top: 1px;
                border-radius: 2px;
                color: #6f00ff;
                background-color: #6f00ff16;
                margin-left: 8px;
            }

            p {
                margin: 0;
                padding: 4px 0 0 0;
                color: #555;
                font-size: 14px;

                + code {
                    margin-top: 18px;
                }
            }
        }
    }
}
